In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config2 import g_key
gmaps.configure(api_key = g_key)

In [2]:
vacation_df = pd.read_csv("weather_challenge/WeatherPY_vacation.csv")
vacation_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,11,Santarem,BR,80.60,broken clouds,-2.44,-54.71,Hotel Imperador
1,14,Wajid,SO,83.62,few clouds,3.81,43.25,Hotel Haji Aden Yare
2,25,Hualmay,PE,82.35,overcast clouds,-11.10,-77.61,Hotel Restaurant Turístico Casablanca
3,28,Kampong Chhnang,KH,77.77,scattered clouds,12.17,104.55,រមណីយដ្ឋាន ទឹកធ្លាក់ស្រែអំពិល
4,30,West Bay,KY,80.60,broken clouds,19.37,-81.42,Calypso Cove
...,...,...,...,...,...,...,...,...
131,605,Tsihombe,BR,82.40,scattered clouds,-20.67,-40.50,Hotel Porto do Sol
132,608,Puerto Varas,CL,80.60,clear sky,-41.32,-72.99,Hotel Solace
133,609,Vicuna,CL,84.00,broken clouds,-30.03,-70.71,Los Mosaicos
134,614,Manadhoo,MV,83.66,overcast clouds,5.77,73.38,Reason Inn
135,619,Kenitra,MA,75.00,clear sky,34.26,-6.58,Bienvenue chez vous

In [3]:
#Select the 4 cities 
city1_df = vacation_df[vacation_df["City"] == "Sao Miguel Do Araguaia"].reset_index()
city2_df = vacation_df[vacation_df["City"] == "Santarem"].reset_index()
city3_df = vacation_df[vacation_df["City"] == "Paracuru"].reset_index()
city4_df = vacation_df[vacation_df["City"] == "Touros"].reset_index()
city3_df

,index,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,54,252,Paracuru,BR,78.8,scattered clouds,-3.41,-39.03,Hotel VentoBrasil

In [4]:
all_cities = [city1_df, city2_df, city3_df, city4_df]
all_cities_df=pd.concat(all_cities)
all_cities_df

,index,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,114,526,Sao Miguel Do Araguaia,BR,84.65,overcast clouds,-13.28,-50.16,Hotel Executivo Palace
0,0,11,Santarem,BR,80.60,broken clouds,-2.44,-54.71,Hotel Imperador
0,54,252,Paracuru,BR,78.80,scattered clouds,-3.41,-39.03,Hotel VentoBrasil
0,38,153,Touros,BR,87.80,broken clouds,-5.20,-35.46,INN NEW HORIZON

In [5]:
import gmaps.datasets

In [6]:
#determine coordinates for the 4 cities 
saomiguel = (float(city1_df.at[0, "Lat"]), float(city1_df.at[0, "Lng"]))
santerem = (float(city2_df.at[0, "Lat"]), float(city2_df.at[0, "Lng"]))
paracuru = (float(city3_df.at[0, "Lat"]), float(city3_df.at[0, "Lng"]))
touros = (float(city4_df.at[0, "Lat"]), float(city4_df.at[0, "Lng"]))

In [8]:
# Add a directions layer to vacation map 
fig = gmaps.figure(center=(30,31), zoom_level=1.5)
four_cities = gmaps.directions_layer(saomiguel, paracuru, waypoints = [santerem, touros],travel_mode='DRIVING')

fig.add_layer(four_cities)

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Add marker boxes to vacation map 
fig = gmaps.figure(center=(30,31), zoom_level=1.5)
locations =all_cities_df[["Lat","Lng"]]
info_box_template="""
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in all_cities_df.iterrows()]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))